/* https://colormagic.app/palette/6741f3daed1554d4dbaec9c9 */

/* #000000 */
/* #7a7e85 */
/* #a0a2a7 */
/* #bfc1c4 */
/* #e1e3e5 */
/* #f3f5f6 */

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) #7a7e85;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: #f3f5f6;
    margin: 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
    z-index: 1;
}

.link-no-decoration {
    text-decoration: none;
    color: inherit;
}

.container-flex-row {
    display: flex;
    flex-direction: row;
}

.button-primary {
    background-color: #e1e3e5;
    border: none;
    color: #7a7e85;
    padding: 1.3em 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 0.6em;
    font-size: 1.3em;
}

.button-primary:hover {
    color: #f3f5f6;
    background-color: #7a7e85;
}

.button-primary:active {
    background-color: #f3f5f6;
}

#home-section {
    background-color: white;
    height: 160vw;
}

#bank-name {
	font-weight: 900;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 2em;
}

#nav-bar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 0px 3em 3em;
    padding: 2em 2em 2em 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 40px;
    width: 100%;

    position: fixed;
    z-index: 1;
}

#quotes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 60%;
    padding: 12px 12px 12px 24px;
	margin-left: 4em;
    z-index: 0;
}

#promotions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

#promotion-wrapper {
    margin-top: 5px;
    width: 100%;
}

#first-promotion-wrapper1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0 24px 0 8px;
}

#first-promotion-wrapper2 {
    flex: 1;
    margin: 20px 10% 0 0;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.accordion-container {
  	width: 100%;
}

#about-section {
    background-image: radial-gradient(ellipse farthest-corner at 0 180%, #eee 0%, #e1e3e5 70%, #f3f5f6 70%);
}

#services-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#offers-section {
	height: 160%;
    background-color: #bfc1c4;
}

#offers-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.offers-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 12px 0 12px 0;
}

#assistant-image {
    width: 80%;
	object-fit: contain;
    margin-right: 3em;
}

#offer-assistant {
    background-color: #e1e3e5;
    overflow-y: hidden;
}

.font-georgia {
  font-weight: 900;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-color-porcelain {
  color: #f3f5f6;
}

.text-color-black {
  color: #7a7e85;
}