.card {
    width: 20%;
    height: 95%;
    background-color: #e1e3e5;
    font-size: 1.4em;
    outline: none;
    border: 0;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 7px 7px 7px #f3f5f6;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

#offers-carousel {
    height: 100vh;
}

#slider .carousel-item {
    height: 500px;
}

.card-img {
    height: 30rem;
}

.carousel-caption {
    font-size: 18px;
    position:static;
}

.carousel-container {
    max-height:100vh;
    display:block;
}

.cat-card-offers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-primary {
    background-color: #f3f5f6;
    color: #bfc1c4;
    outline: none;
    border: 0;
}

.btn-primary:hover {
    background-color: #a0a2a7;
}

