#chat-questionare {
    height: 85vh;
    width: 80%;
    overflow: auto;
    margin-left: 4em;
    padding-bottom: 2em;
    scrollbar-width: none;
}

.chat-message-container {
    width: 100%;
    margin-top: 16px;
}

.chat-message-wrapper {
    width: 80%;
    border-radius: 12px;
    background-color: #f3f5f6;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.chat-questionare-message {
    font-family: 'Noto Serif', serif; 
    color: #7a7e85;
    padding: 1em 1em 0.5em 1.5em;
    font-size: 16px;
    text-align: justify;
    hyphens: auto;
}

.chat-message-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chat-message-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.chat-message-border-radius-left {
    border-bottom-left-radius: 0;
}

.chat-message-border-radius-right {
    border-bottom-right-radius: 0;
}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.line-1 {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

/* .anim-typewriter {
    animation: 
        typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
} */
/* @keyframes typewriter {
    from{width: 0;}
    to{width: 80%;}
} */

.chat-choice-container {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

/* https://codepen.io/Metty/pen/MWjOavR */
.chat-choice-wrapper {
    display: inline-flex;
    background: #fff;
    height: 5em;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 3.5em 0.5em;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.chat-choice-wrapper .option{
    background: #f3f5f6;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid #f3f5f6;
    transition: all 0.3s ease;
}
.chat-choice-wrapper .option:hover {
    background-color: #e1e3e5;
}
.chat-choice-wrapper .option span{
    margin-left: 0.75em;
    margin-right: 0.75em;
    font-size: 14px;
    color: #808080;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + .option {
    border-color: #0069d9;
    background: #0069d9;
    opacity: 1;
    transform: scale(1);
}
input[type="radio"]:checked + .option span{
    color: #fff;
}